<article class="classlist">
<h1>Listing classrooms</h1>
<ul>
<% @classrooms.each do |classroom| %>
  <li><h4><%= classroom.region.name %></h4>
    <%= link_to (image_tag classroom.image_url.to_s), classroom %><br>
    <p><%#= classroom.facilitators.name %></p>  - 
    <%= classroom.name %>
    <%#= link_to 'Show', classroom %>
  </li>
<% end %>
</ul>
<%#= link_to 'New Classroom', new_classroom_path %>
</article>
