<div id="about_content">

<div class="about">
		<h5>About Digital Schoolhouse</h5>
<div class="AboutDSH">

	<div class="description">
		<p>Description goes here</p>
	</div>
</div>
</div>

<div class="meet">
		<h5>Meet our founding organization</h5>
<div class="AboutDSH">

	<div class="description">
		<p>Description goes here</p>
	</div>
</div>
</div>

</div><!--about content end-->