<div class="AboutDSH">
	<h5>About Digital Schoolhouse</h5>
	<div class="description">
		Description goes here
	</div>
</div>

<div class="AboutDSH">
	<h5>Meet our founding organization</h5>
	<div class="description">
		Description goes here
	</div>
</div>