<div id="about_content">

<div class="about">
	<h5>About Digital Schoolhouse</h5>
	<div class="AboutDSH">
		<div class="description">
			<p>Digital Schoolhouse is an online collaboration platform that brings participating classrooms together over common themes. It is a global effort focused on uniting children of diverse backgrounds through online exchange, learning, and play. The main goal of Digital Schoolhouse is to promote cultural literacy and dialogue through technology use and media creation. We currently have classrooms in Thailand, Honduras, Cambodia, Uganda, and the United States. Using Digital Schoolhouse, teachers can link their classrooms and their students together, explore differences, and discover similarities.</p>
		</div>
	</div>
</div>
<div class="meet">
	<h5>Meet Our Founding Organization</h5>
	<div class="AboutDSH">
		<div class="description">
			<%= link_to image_tag('globalplayground2.gif'), 'http://globalplayground.org', :class => 'gpLogo' %>
			<p>Global Playground's mission is to raise awareness and share resources with people of the developing world to create educational opportunities where they do not exist.</p>
			<p>Global Playground is a 501(c)(3) public charity, incorporated in New York in May 2006. We are committed both to funding the education of children in underdeveloped and developing countries, and promoting the importance of education and cross-cultural understanding in the developing world.</p>
			<p>We believe strongly that education is the most promising means to eliminating poverty, violence, intolerance, and misunderstanding in our world. We also believe that young minds are most open to cross-cultural understanding and appreciation of difference.</p>
			<p>To the degree that underdeveloped countries lack the educational resources they need, Global Playground aims to provide them. Created by young professionals working in New York City and Washington, DC, Global Playground funds projects that increase access to, and quality of, education in these regions. The Global Playground is coming to children everywhere. Learning starts here.</p>
		</div>
	</div>
</div>
</div><!--about content end-->