<h1>Admin Page</h1>

<%= link_to "Add Classroom", new_classroom_url %><br>
<%= link_to "Add User", new_user_url %><br>
<%= link_to "Create Theme", new_theme_url %><br>
<%= link_to "Add Media Asset", new_asset_url %><br>

<div>
	Div displaying new asset form
</div>
