<h1>Teacher Page</h1>

	<% def current_user %>
    <% User.find_by_id(session["user_id"]) %>
  <% end %>

<%= link_to "Add Video", new_asset_url, :remote => true%><br>
<%= link_to "Add Pictures", new_asset_url %><br>
<%= link_to "Tell A Story", new_asset_url %><br>
<%= link_to "Update Classrom Profile", edit_classroom_path(current_user.classroom_id)%><br>

<div class="formm">
	Div displaying new asset form
</div>