<p>Congratulations <%= @facilitator.name %>!</p>

<p> Please sign in <%= link_to "here", new_sessions_url %> using the information below: </p>

<li>Sign In Email: <%= @facilitator.email %></li>
<li>Temporary Password: <%= @temp_password %></li>



