<h1>New Theme suggestions</h1>

<ul>
<% @theme_suggestions.each do |theme_suggestion| %>
<li><%= theme_suggestion.name %>
  <%if theme_suggestion.user_id = session["user_id"] %>
    <%= link_to 'Delete', theme_suggestion, method: :delete, data: { confirm: 'Are you sure?'}%>
    <%end%>
  </li>
<%end%>
</ul>

<br />

<%= render 'form' %>

