.admin_options {
	width: 30%;
	margin-left: 4%;
	border: 1px solid black;
}

.admin_form {
	width: 60%;
	margin-bottom: 100px;
	border: 1px solid black;
	float: right;
}

.admin_button {
}

ul {
	padding: 0;
}

li {
	display: inline-block;
}

h1 {
	margin-left: 4%;
}

.edit_list {
	width: 130px;
}

.edit_box {
	width: 200px;
	height: 200px;
	border: 1px solid black;
	margin-top: 20px;
}

p {
	margin-bottom: 5px;
}