// Place all the styles related to the Classrooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*
index styles
*/



.classlist {
width: 99%;
height: 550px;
padding: 0px;
margin: 280px auto 0px;	
}

.classlist h1 {
text-align: center;
width: 100%;
padding: 0px;
}

.classlist ul {
width: 100%;
margin: 0px;
padding: 0px 0px 0px 12px;
}

.classlist ul li {
list-style: none;
width: 214px;
height: 214px;
float: left;
margin: 8px;
padding: 12px;
background-color: #fff;
border: 1px solid #ccc;	
}

.classlist ul li h4 {
font: bold 16px Helvetica, sans-serif;
color: #666;
width: 100%;
margin: 0px;
padding: 0px 0px 6px 0px;	
}

.classlist ul li p {
font: bold 14px Helvetica, sans-serif;
color: #666;
width: 100%;
margin: 0px;
padding: 0px 0px 6px 0px;	
}

/*
show styles
*/

#classroomstats {
width: 99%;	
border: 1px solid red;
}

.classroom_info {
	width: 90%;
	height: 300px;
	border: 1px solid black;
	margin: 150px auto 0px;
}

.classroom h1 {
width: 100%;
text-align: center;	
	
}

.classroom_content {
	float: left;
width: 49%;	
border: 1px solid blue;	
}

.class_image {
	float: right;
width: 49%;		
border: 1px solid green;		
}

.class_description {
	width: 49%;
	float: right;
border: 1px solid gray;		
}

.class_stats {
		width: 49%;
		float: left;
	border: 1px solid gray;	
}

.stats_box {
		width: 98%;
	border: 1px solid gray;		
}