// Place all the styles related to the Classrooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*
index styles
*/



.classlist {
width: 99%;
height: 550px;
padding: 0px;
margin: 100px auto 0px;	
}

.classlist h1 {
text-align: center;
width: 100%;
padding: 0px;

}

.classlist ul {
width: 100%;
margin: 0px;
padding: 0px 0px 0px 12px;
}

.classlist ul li {
list-style: none;
width: 214px;
height: 214px;
float: left;
margin: 8px;
padding: 12px;
background-color: #fff;
border: 1px solid #ccc;	
}

.classlist ul li h4 {
font: bold 16px Helvetica, sans-serif;
color: #666;
width: 100%;
margin: 0px;
padding: 0px 0px 6px 0px;	
}

.classlist ul li p {
font: bold 14px Helvetica, sans-serif;
color: #666;
width: 100%;
margin: 0px;
padding: 0px 0px 6px 0px;	
}

/*
1 styles
*/

#classroomstats {
width: 99%;	
}

.classroom_info {
	width: 90%;
	height: 350px;
	margin: 150px auto 0px;
}

.classroom h1 {
width: 100%;
text-align: center;	
}

.classroom_info h1 {
	width: 100%;
	font:bold 18px Helvetica, sans-serif;
	padding: 8px 0px 30px 0px;
	margin: 0px;
}

.classroom_content {
	float: left;
width: 49%;	
	overflow:hidden;
}


.class_image {
	float: right;
width: 49%;	
height: 285px;	
border: 1px solid #999;	
	background-color: #fff;			
}

.class_description {
	width: 49%;
	height: 285px;
	float: right;
	padding: 0px 0px 0px 0px;
	overflow:hidden; 
	background-color: #fff;		
}

.class_description p {
	font:bold 14px Helvetica, sans-serif;
	color: #ccc;		
}

.class_description h5 {
	width: 100%;
	font:bold 14px Helvetica, sans-serif;
	text-align: left;
	padding: 0px 0px 0px 0px;
	margin-top: 6px;
	color: #999;
	
}

.class_stats {
		width: 49%;
		height: 285px;
		float: left;
			background-color: #fff;		
}

.class_stats p {
font:bold 14px Helvetica, sans-serif;
color: #ccc;
}

.class_stats img {
		width: 98%;
		height: 50%;
		float: left;
	background-color: #fff;		
	margin-bottom: 8px;
}

.stats_box h5 {
	width: 100%;
	font:bold 14px Helvetica, sans-serif;
	text-align: left;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	color: #999;	
}

.stats_box {
		width: 98%;
		height: 50%;	
}

.linkbox {
	width: 120px;
	margin-top: 30px;
	padding: 0px 0px 0px 50px;	
}