// Place all the styles related to the Facilitators controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.classcontainer {
	width: 750px;
	height: 1200px;
border: 1px solid red;
}

.attachment {
	width: 145px;
border: 1px solid blue;		
}

.present {
		width: 180px;
	border: 1px solid blue;	
	
}