// Place all the styles related to the Facilitators controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.classcontainer {
	height: 1200px;
}

.attachment {
	width: 145px;	
}

.present {
	width: 180px;
}

.admin_options {
	width: 30%;
	margin-left: 40px;
	display: inline-block;
}

.admin_form {
	width: 60%;
	margin-bottom: 100px;
}
