// Place all the styles related to the Facilitators controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.classcontainer {
	height: 1200px;
}

.attachment {
	width: 145px;	
}

.present {
	width: 180px;
}

.admin_options {
	width: 30%;
	margin-left: 40px;
	display: inline-block;
}

.admin_form {
	width: 60%;
	margin-bottom: 100px;
}


.facilitators_box {
width: 100%;
}

.facilitators_box h1 {
	width: 100%;
	font-family: Helvetica, sans-serif;
	font-weight:bold;
	font-size: 18px;
	text-align: center;	
	margin-bottom: 12px;
	color: #999;
}

table {	
width: 63%;
margin: auto;
border: 1px solid #999;	
}

table th {
font-family: Helvetica, sans-serif;
font-weight:bold;
font-size: 14px;
margin: auto;
padding: 8px 0px 4px 0px;
border-bottom: 1px solid #999;
color: #999;	
}

table td {
font-family: normal Helvetica, sans-serif;
font-size: 14px;
padding: 7px 20px 7px 20px;
border-bottom: 1px solid #999;	
border-left: 1px solid #999;
background-color: #fff;
}



