// Place all the styles related to the Session controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#loginbox {
	width: 310px;
	height: 180px;
	margin: 150px auto 0px;
	padding: 0px;
}

.input p {
	float: left;
	width: 80px;
	font: normal 14px Helvetica, sans-serif;
	margin:3px 0px 0px 0px;
}

.input {
	float: right;
	width: 94%;		
	margin:0px;
	padding: 10px 0px 5px 0px;	
}

.field{
	width: 500px;		
}

.submitbox {
	float: right;
	padding-right: 40px;
	width: 60px;
}

.field p {
}