// Place all the styles related to the Themes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.theme_suggestion {
	width: 63%;
	margin: 4% auto;
}

table {
	margin-bottom: 2%;
}